{% load static %}

<header>
  <div class="header">
<!--    <h1>yesh' torte</h1>-->
      <img src="{% static 'img/logo.png' %}" alt="logimage" width="100px" >
      <p>Welcome to” yesh' torte The Cake Space”, yesh' torte has been serving its customers with yummy delightful cakes and bakery products since 2014. We strive to provide moist, delicious cakes on a large scale that have ‘baked at home taste without compromising on quality and freshness. Come explore our delicious cake range and allow us to deliver happiness to you.</p>

  <style>
  .header {
  position: center;
  width: 100%;
<!--  background-color: #EAEDED;-->
  color: black;
  font-family:Halimum;
  text-align: center;
}
</style>
  </div>

</header>